<div class="flex h-screen bg-gray-100 overflow-hidden dark:bg-slate-900">

  <!-- Overlay -->
  @if(layout.mobileSidebarOpen()){

  <div class="fixed inset-0 z-40 bg-black/50 lg:hidden"
       (click)="layout.closeMobileSidebar()">
  </div>

  }

  <!-- Sidebar -->

  <div class="fixed inset-y-0 left-0 z-50 transition-all duration-300 lg:relative"
       [class.translate-x-0]="layout.mobileSidebarOpen()"
       [class.-translate-x-full]="!layout.mobileSidebarOpen()"
       [class.lg:translate-x-0]="true"
       [class.w-72]="!layout.sidebarCollapsed()"
       [class.w-20]="layout.sidebarCollapsed()">

    <app-sidebar></app-sidebar>

  </div>

  <!-- Main -->

  <div class="flex flex-1 flex-col overflow-hidden">

    <!-- Header -->

    <app-header></app-header>

    <!-- Page -->
    <main class="relative flex-1 overflow-y-auto bg-gray-100 p-6 dark:bg-slate-900">

      <!-- Router Content Loader -->
      @if (layout.pageLoading()) {

      <div class="absolute inset-0 z-50 flex items-center justify-center
                bg-gray-100/80 backdrop-blur-sm
                dark:bg-slate-900/80">

        <div class="flex flex-col items-center">

          <svg class="h-10 w-10 animate-spin text-indigo-600"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24">

            <circle class="opacity-25"
                    cx="12"
                    cy="12"
                    r="10"
                    stroke="currentColor"
                    stroke-width="4">
            </circle>

            <path class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373
               0 0 5.373 0 12h4zm2 5.291A7.962
               7.962 0 014 12H0c0 3.042
               1.135 5.824 3 7.938l3-2.647z">
            </path>

          </svg>

          <span class="mt-3 text-sm font-medium text-gray-600 dark:text-gray-300">
            Loading...
          </span>

        </div>

      </div>

      }

      <router-outlet></router-outlet>

    </main>

  </div>

</div>
