<div class="rounded-2xl pb-3 border border-gray-200 bg-white shadow dark:border-slate-700 dark:bg-slate-900">

  <!-- Tabs -->
  <div class="flex overflow-x-auto border-b border-gray-200 dark:border-slate-700">

    <button type="button"
            (click)="activeTab.set('logo-and-title')"
            [ngClass]="activeTab() === 'logo-and-title'
        ? 'border-b-2 border-indigo-600 text-indigo-600'
        : 'text-gray-600 dark:text-gray-300'"
            class="whitespace-nowrap px-6 py-4 font-medium transition">
      Logo and Title
    </button>

    <button type="button"
            (click)="activeTab.set('contact')"
            [ngClass]="activeTab() === 'contact'
        ? 'border-b-2 border-indigo-600 text-indigo-600'
        : 'text-gray-600 dark:text-gray-300'"
            class="whitespace-nowrap px-6 py-4 font-medium transition">
      Contact Details
    </button>

    <button type="button"
            (click)="activeTab.set('links')"
            [ngClass]="activeTab() === 'links'
        ? 'border-b-2 border-indigo-600 text-indigo-600'
        : 'text-gray-600 dark:text-gray-300'"
            class="whitespace-nowrap px-6 py-4 font-medium transition">
      Important Links
    </button>

    <button type="button"
            (click)="activeTab.set('map')"
            [ngClass]="activeTab() === 'map'
        ? 'border-b-2 border-indigo-600 text-indigo-600'
        : 'text-gray-600 dark:text-gray-300'"
            class="whitespace-nowrap px-6 py-4 font-medium transition">
      College Map
    </button>

    <button type="button"
            (click)="activeTab.set('social')"
            [ngClass]="activeTab() === 'social'
        ? 'border-b-2 border-indigo-600 text-indigo-600'
        : 'text-gray-600 dark:text-gray-300'"
            class="whitespace-nowrap px-6 py-4 font-medium transition">
      Social Medias
    </button>

  </div>

  <!-- Tab Content -->
  <div>

    @switch (activeTab()) {
    @case ('logo-and-title') {

    <!-- Logo and Title Form -->
    <app-logo-and-title></app-logo-and-title> }

    @case ('contact') {

    <!-- Contact Us Form -->
    <app-contact-us-details></app-contact-us-details> }
    @case ('links') {

    <!-- Important Links Form -->

    <app-important-links></app-important-links>
    }
    @case ('map') {

    <app-google-map></app-google-map>

    }

    @case ('social') {

    <!-- Instagram & Facebook Links -->
    <app-social-media></app-social-media>

    }
    }

  </div>

</div>


