/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


::ng-deep .ngx-pagination a {
  color: #374151 !important;
}

.dark ::ng-deep .ngx-pagination a {
  color: #e2e8f0 !important;
}


.ck-content ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.ck-content ol {
  list-style-type: decimal;
  padding-left: 2rem;
}
